
<style>
  nav a {
    text-decoration: none;
    color: #white;
    margin: 0 8 px;
    padding: 6 px 12 px;
    border-radius: 4 px;
    transition: all 0.4s ease;
    display: inline-block;
 }

   nav a:hover {
    background: linear-gradient(to right, #0fa3d9 0%, #52d90f 100%);
    box-shadow: 0 0 10px rgba(15, 163, 217, 0.6), 0 0 20px rgba(82, 217, 15, 0.4);
    font-weight: bold;
    color: white
     
  }


  </style>

<nav>
  <a href="/DIG3171-Website/">Home</a> |
  <a href="/DIG3171-Website/schedule">Course Schedule & Project List</a>
</nav>
